*.vault             
secrets.yml         
*.key               
*.retry             
*.log               
*.bak               
.cache/             
.DS_Store           
Thumbs.db           
.idea/              
.vscode/            
*.swp               
inventory           
group_vars/*.yml    
__pycache__/        
*.pyc               
*.pyo               
env/                
venv/              
